body {
    background-color: black;
}

.list-group {
    border-radius: 10px;
}

.list-group-item {
    background-color: #191414;
    color: white;
}

.list-group-flush>.list-group-item {
    border-color: rgba(255, 255, 255, 0.1);
}

.nav-link {
    color: #2abe5e;
}

.nav-link:hover {
    color: #19a149;
}

.nav-pills .nav-link.active {
    background-color: #1DB954;
}

#popularity-bar {
    width: 100px;
}

@media screen and (min-width: 900px) {
    #top-items-container {
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    #type {
        display: flex;
        flex-direction: column;
    }

    #time-range {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #track small {
        font-size: 10px;
    }

    #track h6 {
        font-size: 12px;
    }

    #artist small {
        font-size: 10px;
    }

    #artist h5 {
        font-size: 12px;
    }

    #popularity-bar {
        width: 50px;
    }
}
